<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>profile</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js"></script>
<style>
    .profile-cards {
        padding-top: 15px;
    }
</style>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <h1 
    style="text-align: center;
           font-weight: bold;
           margin-top: 20px;        
           border-bottom: 1px solid rgba(0, 0, 0,0.1);
           padding-bottom: 5px;">
        <em>ABOUT US</em></h1>
    <div class="row">
        <div class="col-md-4"> 
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/123.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">WE WANT EVERY FARMER RISE !</h5>
                <p class="card-text text-justify" >As seeing the problems being faced by the farmers today,we have taken a step toward their progress to a better lifestyle , not actually a better one, but to create that environment where they just love their work and to provide them such a joyous and tension free life.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div> 
        </div>
        <div class="col-md-4"> 
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/wheat.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">PRODUCTION MEETS DEMAND ! HOW ?</h5>
                <p class="card-text text-justify">This is the major issue which is going to be a difficulty in coming future.Production is not meeting the population needs. Hence, it is to either double its production value to meet rising demands. What we have done is to check the proper area owned by a particular farmer to prepare stats.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
            </div>


        <div class="col-md-4"> 
            <h3 class="text-center"><u>OUR VALUES</u></h3>

                        <ul>
                            <li><p style="color: orange;">EXPERT: Deep expertise and insightful evidence-based solutions are at the heart of everything</p></li>
                            <li><p style="color: orange;">GROUNDED: Positive change starts with Indian people, so we will work closely with local communities, engaging them in every level of decision-making.</p></li>
                            <li><p style="color: orange;">IMPACTFUL: We take a long-term view so we can deliver lasting changes for farmers and their families</p></li>
                            <li><p style="color: orange;">BOLD: We model innovative new approaches and are not afraid to challenge strategies that are failing.</p></li>
                        </ul>

        </div>
    </div>
    <br>
        
    <div class="jumbotron">
        <h3 class="text-center"><b>WHY CHOOSE US ?</b></h3>
                    <P class="text-center"><b>We will reduce poverty by unleashing Indian farmer abilities to grow their incomes and manage their natural resources sustainably</b></P>
    </div>
                
           
        </div>
    



<div class="profile-cards">
    <div class="container">
        <h1
            style="text-align: center;
                   font-weight: bold;
                   
                   border-bottom: 1px solid rgba(0, 0, 0,0.1);
                   padding-bottom: 5px;">
        <em>OUR TEAM</em></h1>
    <div class="row">
        <div class="col-md-3">
            <div style="max-height: 500px !important" class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="gayatri-soni-b58391169"><a class="LI-simple-link" href='https://in.linkedin.com/in/gayatri-soni-b58391169?trk=profile-badge'>Gayatri soni</a></div>
        </div>
        <div class="col-md-3">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="geetika-715936166"><a class="LI-simple-link" href='https://in.linkedin.com/in/geetika-715936166?trk=profile-badge'>Geetika .</a></div>

        </div>
        <div class="col-md-3">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="bhuvnesh-kumar-bb022116a"><a class="LI-simple-link" href='https://in.linkedin.com/in/bhuvnesh-kumar-bb022116a?trk=profile-badge'>Bhuvnesh Kumar</a></div>
        </div>
        <div class="col-md-3">
            <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="rahul-tiwari-135b40141"><a class="LI-simple-link" href='https://in.linkedin.com/in/rahul-tiwari-135b40141?trk=profile-badge'>Rahul Tiwari</a></div>
        </div>
    </div>
</div>
</div>
<br>
<footer class="py-5 bg-dark">
      <h4 style="color:white;">Copyright@ by Team Dominators</h4>
    </footer>
</body>
</html>