
<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<!--title of page-->
<title>details of farmer</title>

<!-- Meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Booking Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta tags -->


<!-- Stylesheet -->
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- //Stylesheet -->


</head>
<body>
{% include 'navbar.html' %}
<!--background-->

    <div class="bg-agile">
	<div class="book-appointment">
	<h2>Fill your Details here</h2>
						<div class="book-form agileits-login">
							<form action="#" method="post">
								<div class="agileits_reservation_grid">
								<div class="phone_email">
									<div class="form-text">
										<i class="" aria-hidden="true"></i>
										<input type="text" name="Name" placeholder="State" required="">
									</div> 
								</div>
								<div class="phone_email phone_email1">
									<div class="form-text">
										<i class="" aria-hidden="true"></i>
										<input type="text" name="Name" placeholder="Address" required="">
									</div>
								</div>
								
								<div class="phone_email">
									<div class="form-text">
										<i class="" aria-hidden="true"></i>
										<input type="text" name="Phone no" placeholder="Phone Number" required="">
									</div> 
								</div> 
								<div class="phone_email phone_email1">
									<div class="form-text">
										<i class="" aria-hidden="true"></i>
										<input type="text" name="Mandi" placeholder="Near by Mandi" required="">
									</div>
								</div>
									
								
									<div class="span1_of_1 phone_email1">
										<div class="book_date"> 
											<i class="" aria-hidden="true"></i>
												<input  id="" name="Text" type="text" value="" placeholder="Plot Number">

										</div>					
									</div>
									<div class="span1_of_1 phone_email">
										<div class="book_date"> 
											<i class="" aria-hidden="true"></i>
												<input  id="" name="Text" type="text" value="" placeholder="Number of Plot">

										</div>					
									</div>

									<div class="span1_of_1 phone_email1">
										<!-- start_section_room -->
										<div class="section_room" id="unit">
											<i class="" aria-hidden="true"></i>
											<select id="country1" onchange="change_country(this.value)" class="frm-field required">
												<option value="">Units</option>
												<option value="">Gaz</option>
												<option value="">Hath </option>         
												<option value="">Gatha</option>
							                    <option value="">Jareeb</option>
												<option value="">unwasi</option>
												<option value="">bissa</option>
												<option value="">acre</option>         
												<option value="">hectare</option>
							                    <option value="">bigha</option>
												<option value="">bigha</option>
												<option value="">biswansi</option>
												<option value="">kachwasi</option>         
							                    							                    
											</select>
										</div>	
									</div>






								<!--area-->
								<div class="phone_email">
									<div class="form-text">
										<i class="" aria-hidden="true"></i>
										<input type="text" name="Name" placeholder="Area" required="">
									</div>
								</div>
								<!--area-->



										<div class="span1_of_1">
										<!-- start_section_room -->
										<div class="section_room">
											<i class="" aria-hidden="true"></i>
											<select id="country" class=""  onchange="change_country(this.value)">
												<option>crop</option>
												<option>Rice</option>
												<option>Wheat </option>         
												<option>Corn</option>
												<option>Sugarcane </option>
												<option>Bajra</option>
												<option>Gram </option>
												<option>Coconut</option>
												<option>Coffee</option>         
												<option>Turmeric</option>
												<option>Pepper </option>
												<option>Ginger</option>
												<option>Cotton</option>												
											</select>
										</div>	
									</div>



									<div class="span1_of_1 phone_email1">
										<!-- start_section_room -->
										<div class="section_room" id="unit">
											<i class="" aria-hidden="true"></i>
											<select id="country1" onchange="change_country(this.value)" class="frm-field required">
												<option value="">Gender</option>
												<option value="">Male</option>
												<option value="">Female</option>         
        
							                    							                    
											</select>
										</div>	
									</div>




									<div class="clear"></div>
								</div> 

								<input type="submit" value="submit">
								<div class="clear"></div>
							</form>
						</div>

		</div>
   </div>

		<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
		



</body>
</html>