<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <!-- Bootstrap CSS -->
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

      <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="836bb351-25e5-421d-8cd8-b68067a02ba4";(function(){d=document;s=d.createElement("script");
      s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
      </script>

<style>
  #banner {
    height: 600px;
    background-image: url("{% static 'images/farmer.jpg' %}");
    background-size: 100% 100%;
  }


</style>

    
  </head>
  <body>
    {% if error %}
        <div style="color: red">
            <h3 class="text-center">{{ error }}</h3>
        </div>
    {% endif %}
  {% include 'navbar.html' %}

    <div id="banner">
        <div class="container">
          <div style="text-align: center;color: black;">
            <h1 style="padding-top: 400px;">GIVING A JOYOUS AGRICULTURAL LIFE !</h1>
          </div>
        </div>
    </div>
   
    <div class="container">
      <hr />
      <div class="jumbotron">
        <h1 class="display4" style="text-align: center;">WE CARE ! WE WILL MAKE <b>CHANGE</b> HAPPEN !</h1>
        <p class="lead" style="text-align: justify;"><b>Effective agriculture has the power to change lives. It underpins prosperity, food security and stability the world over. Farm Africa focuses on transforming agriculture and managing natural resources sustainably. We champion a holistic approach that boosts yields, protects the environment and connects smallholder farmers to thriving markets</b></P>  
      </div>
      <hr />
      <div class="row jumbotron">
        <div class="col-4 text-center" style="background-color:orange;">
          <img src="{% static 'images/tree.png' %}">
            <h1 class="display4">WHAT YOU WANT TO BUY ?</h1>
            <p class="lead" style="text-align: justify;">Farmers can contact incase they want to buy any kind of machinery including pumps and other, weedisides, pesticides, seeds for new crops and also everything in a proper amount after soil testing has been performed.. </p>
        </div>  
        <div class="col-4 text-center" style="background-color:#0AEC11">
          <img src="{% static 'images/tree-1.png' %}" alt="">
          <h1 class="display4">WHAT YOU WANT TO SELL ?</h1>
          <p class="lead" style="text-align: justify;">We are working on everything to know about the actual price of cultivated crops in different areas. If farmers are aware of how much they can get after selling then is will automatically increase <b>INCOME</b></p>
        </div>
        <div class="col-4 text-center" style="background-color:orange;">
          <img src="{% static 'images/tree-2.png' %}" alt="">
          <h1 class="display4">WHAT RATES YOU CAN HAVE!</h1>
          <p class="lead" style="text-align: justify;">The indian government is giving subsidy on very less things to farmers and at the same time those seeds,pesicides etc can be made available to farmers on genuine rates directly from wholesalers hence cutting the tax and GSTrates indirectly. 
          </p>
        </div>
      </div>
    </div>   

      <div class="container">
        <hr />
        <div class="row jumbotron">
            <div class="col-md-4">
                <h4>For Help center contact</h4>
                <p><span>Email: <a href="mailto:info@gni.edu.in">info@gni.edu.in</a></span></p>
                <p>
                  Phone:<br />099961 00140, <br />
                  01731-274540, <br />
                  01731-275640</p>
            </div>
            <div class="col-md-4">
                <h4>Follow us</h4>
                <ul style="font-size:30px;">
                  <li><a href="https://www.facebook.com/GNI.Ambala"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></li>
                  <li><a href="https://www.instagram.com/gnimullana/"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCCv4dcX7w-WiuECvrX5NF_A"><i class="fa fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16694.645346508965!2d77.00466727838617!3d30.271527738718106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
                            1s0x0%3A0x61e2595556a0fc0d!2sGuru+Nanak+Institute+of+Technology!5e1!3m2!1sen!2sin!4v1522612619077"frameborder="0" style="border:0"></iframe>
                  </div>
            </div>
        </div>
      </div>




    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
    <label for="exampleInputEmail2">Name</label>
    <input type="text" name="name" class="form-control" required id="exampleInputEmail0" aria-describedby="emailHelp2" placeholder="Full Name">

  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
    <label for="exampleInputEmail2">State</label>
    <input type="text" name="state" class="form-control" required id="exampleInputEmail2" aria-describedby="emailHelp2" placeholder=" Your State">

  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
    <label for="exampleInputEmail2">Mobile</label>
    <input type="number" name="mobile" class="form-control" required id="exampleInputEmail3" aria-describedby="emailHelp2" placeholder="Your Mobile">

  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
    <label for="exampleInputEmail2">City</label>
    <input type="text" name="city" class="form-control" required id="exampleInputEmail4" aria-describedby="emailHelp2" placeholder="Your City">

  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
    <label for="exampleInputEmail2">password</label>
    <input type="number" name="password" class="form-control" required id="exampleInputEmail5" aria-describedby="emailHelp2" placeholder="Your password">

  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
    <label for="exampleInputEmail2">Locality</label>
    <input type="text" name="locality" class="form-control" required id="exampleInputEmail6" aria-describedby="emailHelp2" placeholder="Your Locality">

  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
    <label for="exampleInputEmail2">PinCode</label>
    <input type="number" name="pin" class="form-control" required id="exampleInputEmail7" aria-describedby="emailHelp2" placeholder="PinCode">

  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
    <label for="exampleInputEmail2">Sub Locality</label>
    <input type="text" name="sub_locality" class="form-control" required id="exampleInputEmail8" aria-describedby="emailHelp2" placeholder="Your Sub Locality">

  </div>
                </div>
            </div>
            <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" name="email" class="form-control" required id="exampleInputEmail9" aria-describedby="emailHelp2" placeholder="Your Email">

  </div>

  <button type="submit" class="btn btn-primary">Register</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle2">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Mobile</label>
    <input name="username" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Mobile">
    <small id="emailHelp" class="form-text text-muted">We'll never share your mobile with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Your Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

    <footer class="py-5 bg-dark">
      <h4 class="text-center" style="color:white;">Copyright@ by Team Dominators</h4>
    </footer>
  </body>
</html>
