<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>product</title>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->

 <!-- styling -->
<style>
	
body{
	background-color: lightgreen;
}
.rounded-circle{
	width: 300px;
	height: 200px;
}
.top{
	background:rgba(0,0,0,0.5);
}
h3{
	text-align: center;
	color: white;
}


</style>

</head>

<body>
{% include 'navbar.html' %}

<header>
	<div class="top">
		<h3>Agriculture Products Available In India </h3>
	</div>
</header>
<section>
	<div>
		<marquee><img src="{% static 'pics/lemon.jpg' %}" class="rounded-circle" alt="Cinque Terre">
			     <img src="{% static 'pics/lentils.jpg' %}" class="rounded-circle" alt="Cinque Terre">
			     <img src="{% static 'pics/veg.jpg' %}" class="rounded-circle" alt="Cinque Terre">
			     <img src="{% static 'pics/tur.jpg' %}" class="rounded-circle" alt="Cinque Terre">
			     <img src="{% static 'pics/rice.jpg' %}" class="rounded-circle" alt="Cinque Terre">
			     <img src="{% static 'pics/spice.jpg' %}" class="rounded-circle" alt="Cinque Terre">
			     <img src="{% static 'pics/mango.jpg' %}" class="rounded-circle" alt="Cinque Terre">
			     <img src="{% static 'pics/beans.jpg' %}" class="rounded-circle" alt="Cinque Terre">
		</marquee>
	</div>
</section>


<div style="background:rgba(0,0,0,0.7); ">
		<h2 class="text-justify" style="text-align: center; color: white;">Per final numbers for 2009, India is the world's second largest producer of the following agricultural products:</h2></div>
  <div>
 <div class="row" style="text-align:center;">
     <div class="col-md-10 jumbotron" style="text-align:center;">
  	<p class="text-justify"><b>Food crops: Rice and Wheat are cereals. They are starchy seeds. They are nutritive. They form basic diet of mankind.
Major Crops Grown in India
Category: Indian Geography
On April 17, 2014 By Suraj Yadav

The major crops that are grown in India are mentioned below in this article.

Food crops: Rice and Wheat are cereals. They are starchy seeds. They are nutritive. They form basic diet of mankind.


 
Plantation crops: Tea and Coffee are called plantation crops. Both are used as drinks of mild stimulants. They are beverages. Each of them is a plantation crop. In plantation agriculture, some aspects of industrial processing are found. It differs from common agriculture widely.

In fact it is more an industry than agriculture or it may be called both agriculture and industry. It is an agriculture which is carried on through modern industrial management and organization. Large scale capital investment, large scale estates (Garden), factories on the estates, employment of large number of employees of all categories, – field workers, office staff, managerial personnel, use of mechanical equipment, organized marketing facilities, etc. are the characteristics of a plantation agriculture.

Fiber Crops: Cotton and Jute are called fiber crops. Both are vegetable fibers.
</b>
</p>
  </div>
 </div>

		 <p class="alert alert-danger">click the images to see the info<span class="close" data-dismiss="alert">&times;</span></p>
		<!--first-->
 <div class="card" style="width: 300px; margin:10px; float: left;">
    <img src="{% static 'pics/rice.jpg' %}" class="img-fluid" data-target="#urv" data-toggle="collapse">
    <div class="card-body collapse" id="urv"> <h2 class="card-title" >Rice</h2>
                            <h6 class="card-subtitle text-muted">Rice is grown under varying conditions in India from 8° to 25° N latitude and from sea level to about 2,500 metre altitude. It is a tropical plant and requires high heat and high humidity for its successful growth. The temperature should be fairly high at mean monthly of 24°C. It should be 20°- 22°C at the time of sowing, 23°-25°C during growth and 25°-30°C at the harvesting time. The average annual rainfall required by rice is 150 cm.</h6></div>
    <div class="card-footer collapse" id="urv"><a href="http://www.yourarticlelibrary.com/cultivation/cultivation-of-rice-in-india-conditions-methods-and-production/20919" class="card-link">Read more</a></div>
  </div>
        <!--second-->
        <div class="card" style="width: 300px; margin:10px; float: left;">
    <img src="{% static 'pics/wheat.jpg' %}" class="img-fluid" data-target="#urvv" data-toggle="collapse">
    <div class="card-body collapse" id="urvv"> <h2 class="card-title">Wheat</h2>
                            <h6 class="card-subtitle text-muted">Wheat is one of the top three most produced crops in the world, along with corn and rice. India is the second largest producer Wheat. Wheat is a main source of carbohydrates and fiber for human diet. We are offering the best quality, machine cleaned Wheat to our customers in other countries. We are providing suitable best quality standard packaging as per customers...</h6></div>
    <div class="card-footer collapse" id="urvv"><a href="https://www.indiamart.com/proddetail/best-quality-wheat-14322064573.html">Read more</a></div>
  </div>

  			<!--third-->
  			<div class="card" style="width: 300px; margin:10px; float: left;">
    <img src="{% static 'pics/sugar.jpg' %}" class="img-fluid" data-target="#urvn" data-toggle="collapse">
    <div class="card-body collapse" id="urvn"> <h2 class="card-title" >Sugar</h2>
                            <h6 class="card-subtitle text-muted">Rice is grown under varying conditions in India from 8° to 25° N latitude and from sea level to about 2,500 metre altitude.The temperature should be fairly high at mean monthly of 24°C. It should be 20°- 22°C at the time of sowing, 23°-25°C during growth and 25°-30°C at the harvesting time.</h6></div>
    <div class="card-footer collapse" id="urvn"><a href="http://www.yourarticlelibrary.com/cultivation/cultivation-of-rice-in-india-conditions-methods-and-production/20919" class="card-link">Read more</a></div>
  </div>


  <!--four-->
   			<!--third-->
  			<div class="card" style="width: 300px; margin:10px; float: left;">
    <img src="{% static 'pics/lentils.jpg' %}" class="img-fluid" data-target="#urvn2" data-toggle="collapse">
    <div class="card-body collapse" id="urvn2"> <h2 class="card-title" >Lentils</h2>
                            <h6 class="card-subtitle text-muted">Dal is often translated as “lentils” but actually refers to a split version of a number of lentils, peas, chickpeas (chana), kidney beans and so on. If a pulse is split into half, it is a dal. For example, split mung beans are mung dal. ... Pulses are used to make a wide variety of food in Indian cuisine.</h6></div>
    <div class="card-footer collapse" id="urvn2"><a href="http://www.yourarticlelibrary.com/cultivation/cultivation-of-rice-in-india-conditions-methods-and-production/20919" class="card-link">Read more</a></div>
  </div>

  <!--table-->

   <table class="table table-sm table-sm-responsive table-hover table-dark table-striped">
      <tr>
           <td>
            Food grains
           </td>
                <td>
               Spices
               </td>

               <td>
               Seeds and pulses
               </td>

               <td>
               Vegetables
               </td>

               <td>
               Fruits
               </td>

      </tr>
            <tr>
           <td>
           wheats
           </td>
                <td>
               garlic
               </td>

               <td>
               lentils
               </td>

               <td>
               tomato
               </td>

               <td>
               mango
               </td>
      </tr>
            <tr>
           <td>
            Rice
           </td>
                <td>
               Nutmeg and mace
               </td>

               <td>
               Fennel
               </td>

               <td>
              Lemons
               </td>

               <td>
               Coconuts
               </td>
      </tr>
            <tr>
           <td>
            Ragi and Bajra (millets)
           </td>
                <td>
               Dry chillies and peppers
               </td>

               <td>
               Cotton seed and lint
               </td>

               <td>
               Chickpeas
               </td>

               <td>
              Guavas
               </td>
      </tr>





<!--hi-->
      <tr>
           <td>
            Sorghum
           </td>
                <td>
               Spices
               </td>

               <td>
               Cardamom
               </td>

               <td>
               Vegetables
               </td>

               <td>
               Fruits
               </td>

      </tr>
            <tr>
           <td>
           wheats
           </td>
                <td>
               garlic
               </td>

               <td>
               lentils
               </td>

               <td>
               tomato
               </td>

               <td>
               mango
               </td>
      </tr>
            <tr>
           <td>
            Rice
           </td>
                <td>
               Nutmeg and mace
               </td>

               <td>
               Fennel
               </td>

               <td>
              Lemons
               </td>

               <td>
               Coconuts
               </td>
      </tr>
            <tr>
           <td>
            Ragi and Bajra (millets)
           </td>
                <td>
               Dry chillies and peppers
               </td>

               <td>
               Cotton seed and lint
               </td>

               <td>
               Chickpeas
               </td>

               <td>
              Guavas
               </td>
      </tr>















    </table>


  	</footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>