
<!DOCTYPE HTML>
{% load static %}
<!--html doc-->
<html>
<head>

<!--title of page-->
<title>search page</title>
<!-- Meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resort Booking Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta tags -->
<!-- Required meta tags -->
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<!-- Stylesheet -->

<!-- //Stylesheet -->
	<style>
					#form-bg{
				background-color: rgba(0,0,0,0.3);
			}


			.center input {
				border-radius: 4px;
			}

			.form-parent {
				padding-top: 50px;
			}


			input {
				width: 400px;
				padding: 10px 10px 10px 10px;
			}
			.button1 {
				width: 200px;
				padding: 10px 10px 10px 10px;
			}
			#Search_btn{
				width: 400px;
			}
			.center{
				padding: 50px;
			}

			label{
				color: white;
			}


	</style>
</head>


<body style="background-image:url('{% static 'img/bg_2.jpg' %}');">

{% include 'navbar.html' %}

<marquee width="100%" direction="left" height="" behavior="" bgcolor="lightgreen" scrollamount=""onmouseover="this.stop();" onmouseout="this.start();">983983038272,763768389222,67326325637(krishikaram123@gmail.com)</marquee>
<!--background-->
<div class="container form-parent" >
	<div class="row" >
		<div class="col-md-6">
			<div id="form-bg" class="center">

				 <input type="input" name="input" placeholder=" your crop"><br><br>

				 <button  id="Search_btn"class="btn btn-outline-info button1">Search</button><br>
			</div>
		 </div>
									
								
					<div class="col-md-6">
							<div id="processed-data">
										Data will be seen here
							</div>
								
					</div>

								<div class="clear"></div>
							
		
		</div>
	</div>
</div>













</body>

</html>